@import '../../../assets/scss/vars';

.ticket-list {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  box-sizing: border-box;
  width: auto;
  padding-right: 20px;
  @media (max-width: 620px) {
    flex-shrink: 0;
    max-width: 620px;
    padding-right: 0;
  }
}

.button-show-more-ticket {
  margin-bottom: 50px;
  width: 100%;
  height: 50px;
  color: white;
  background-color: $colorBlue;
  border-radius: 5px;
  border: none;
}

.massage {
  margin-top: 20px;
  margin-right: 20px;
  height: 184px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  text-align: center;
  vertical-align: center;
}

.ticket-list__loading-indicator-wrapper {
  visibility: collapse;
}