@import '../../../assets/scss/vars';

.index-page {
  margin: 10px auto 10px auto;
  min-width: 320px;
  max-width: 754px;
  min-height: 700px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 620px) {
    flex-direction: column;
  }
}

.main {
  flex-grow: 1;
}

.app_ticket-list-wrapper {
  max-width: 502px;
}

.app_filter-group-wrapper {
  align-self: flex-start;
  margin-right: 20px;
  width: 232px;
  height: 252px;
  @media (max-width: 620px) {
    position: static;
    align-items: center;
    width: 100%;
    height: auto;
  }
}

.sorted-group {
  @extend %block-box-shadow;
  margin-bottom: 20px;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
  overflow: hidden;
}

.sorted-radio-wrapper {
  width: 50%;
}

.sorted-radio {
  margin-top: -20px;
  padding-top: 12px;
  height: 40px;
  width: 100%;
  text-align: center;
}

.sorted-radio-input {
  appearance: none;
  -webkit-appearance: none;
  &:checked + .sorted-radio {
    color: white;
    background-color: $color-blue;
  }
  &:focus + .sorted-radio, &:hover + .sorted-radio{
    @extend %outline-elem;
  }
}