.index-page {
  margin: 10px auto 10px auto;
  min-width: 320px;
  max-width: 754px;
  display: flex;
  justify-content: space-between;
  @media (max-width: 620px) {
    flex-direction: column;
  }
}

.main {
  flex-grow: 1;
}

.app_ticket-list-wrapper {
  max-width: 502px;
}

.app_filter-group-wrapper {
  position: sticky;
  top: 155px;
  margin-right: 20px;
  width: 232px;
  height: 252px;
  @media (max-width: 620px) {
    position: static;
    align-items: center;
    width: 100%;
    height: auto;
  }
}